/* ======= Presentation section ======= */
main {
  width: 100%;
  background-color: var(--blue);
}

.agency {
  width: 100%;
  background-color: #f0f0f0;
}

.agency-wrapper {
  max-width: 1440px;
  margin: auto;
  margin-top: 100px;
  padding: 2rem;
}

.agency-wrapper .title {
  font-size: 40px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: var(--black);
  text-transform: uppercase;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .agency-wrapper .title {
    margin-bottom: 30px;
    font-size: 35px;
  }
}

@media only screen and (max-width: 575px) {
  .agency-wrapper .title {
    margin-bottom: 20px;
    font-size: 25px;
  }
}

.agency-wrapper .agency-content .subtitle {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  line-height: 1.8;
  color: var(--black);
  margin: 1rem 0;
  font-weight: 400;
}
@media only screen and (max-width: 767px) {
  .agency-wrapper .agency-content .subtitle {
    font-size: 18px;
  }
}

@media only screen and (max-width: 575px) {
  .agency-wrapper .agency-content .subtitle {
    font-size: 16px;
  }
}

.agency-wrapper .agency-content p {
  font-size: 16px;
  line-height: 1.8;
  color: var(--brown);
}
@media only screen and (max-width: 767px) {
  .agency-wrapper .agency-content p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 575px) {
  .agency-wrapper .agency-content p {
    font-size: 14px;
  }
}

.agency-wrapper .signature {
  margin-top: 50px;
}

.agency-wrapper .signature .title-signature {
  font-family: "Itim", cursive;
  margin-top: 25px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--black);
}

.agency-wrapper .signature .title {
  margin-top: 25px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

/* ======= Stats section ======= */
.agency-stats {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid var(--brown);
}

.odometer-inside {
  display: flex;
  align-items: center;
  padding-top: 3px;
  padding-left: 5px;
  color: var(--brown);
  font-weight: 600;
}

.odometer-digit {
  font-size: 35px;
}

.stat-1 {
  display: flex;
  align-items: center;
  padding: 4rem 2rem;
}
.stat-1,
.stat-1 p {
  font-size: 35px;
  color: var(--brown);
  font-weight: 500;
}
.stat-1 p {
  display: flex;
  text-align: center;
  margin-left: 0.5rem;
}

.stat-2 {
  display: flex;
  align-items: center;
  padding: 4rem 2rem;
}
.stat-2,
.stat-2 p {
  font-size: 35px;
  font-weight: 500;
  color: var(--brown);
  margin-bottom: 0;
}
.stat-2 p {
  text-align: center;
  margin: 0 0.5rem;
}

.stat-3 {
  display: flex;
  align-items: center;
  padding: 4rem 2rem;
}
.stat-3,
.stat-3 p {
  font-size: 35px;
  font-weight: 500;
  color: var(--brown);
  margin-bottom: 0;
}
.stat-3 p {
  text-align: center;
  margin: 0 0.5rem;
}
@media (max-width: 1414px) {
  .stat-1,
  .stat-2,
  .stat-3 {
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
  }
  .stat-1 p,
  .stat-2 p,
  .stat-3 p {
    line-height: 2.5rem;
  }
}
@media (max-width: 767px) {
  .stat-1,
  .stat-2,
  .stat-3 {
    padding: 1.2rem;
  }
  .stat-1 p,
  .stat-2 p,
  .stat-3 p {
    font-size: 25px;
  }
}
@media (max-width: 575px) {
  .stat-1,
  .stat-2,
  .stat-3 {
    padding: 1rem;
  }
  .stat-1 p,
  .stat-2 p,
  .stat-3 p {
    font-size: 20px;
  }
}

/* ======= Environment section ======= */
.environment {
  width: 100%;
  background-color: var(--blue);
}

.environment-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.environment-wrapper .title {
  color: var(--green);
  font-size: 35px;
  font-weight: 500;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .environment-wrapper .title {
    font-size: 30px;
  }
  .environment-wrapper {
    padding: 3rem 2rem;
  }
}
@media (max-width: 767px) {
  .environment-wrapper .title {
    font-size: 25px;
  }
}

.environment-wrapper p {
  margin-top: 1rem;
  color: var(--grey);
}
@media (max-width: 992px) {
  .environment-wrapper p {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .environment-wrapper p {
    font-size: 14px;
  }
}
@media (max-width: 575px) {
  .environment-wrapper p {
    font-size: 14px;
  }
}

/* ======= Team section ======= */
.team-section {
  width: 100%;
  background-color: #f0f0f0;
}

.team {
  max-width: 1440px;
  margin: 0 auto;
  padding: 3rem 2rem;
}

.team .title {
  color: var(--color);
  font-size: 35px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
@media (max-width: 992px) {
  .team .title {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .team .title {
    font-size: 25px;
    margin-bottom: 1rem;
  }
}

.team-wrapper {
  display: flex;
  margin: 0 auto;
  width: 85%;
}

.associates-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin: 0 auto;
}

.associate {
  padding: 2rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.associate-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.associate h5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ededdd;
  font-weight: 600;
  text-align: center;
  font-size: 25px;
  margin: 0;
}
.associate span {
  color: #eee9e9;
  font-size: 18px;
  font-weight: 500;
}
.content p {
  color: var(--white);
  font-weight: 500;
  text-align: center;
  margin-bottom: 2rem;
}
.content ul > li {
  list-style: inside;
  color: var(--white);
  font-weight: 400;
  margin: 0 auto;
}
.content ul > li:first-child {
  list-style: none;
  color: #ededdd;
  font-size: 18px;
  margin-bottom: 0.8rem;
}

@media only screen and (max-width: 575px) {
  .associates-wrapper {
    grid-template-columns: 1fr;
  }
  .associate {
    margin-bottom: 0;
  }
  .content p {
    margin-bottom: 0;
    margin-top: 1rem;
  }
  p {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .content ul > li {
    display: none;
  }
}

.associate-1 {
  background: linear-gradient(45deg, #134e5e 0%, #71b280 100%);
  border-radius: 10px;
  box-shadow: 0 20px 40px -14px rgb(0 0 0 / 25%);
}
.associate img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 50%;
  border: 3px solid #ededdd;
  margin-bottom: 1rem;
  padding: 4px;
}
.associate-2 {
  background: linear-gradient(45deg, #134e5e 0%, #71b280 100%);
  border-radius: 10px;
  box-shadow: 0 20px 40px -14px rgb(0 0 0 / 25%);
}

.subteam-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  width: 85%;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .subteam-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 575px) {
  .subteam-wrapper {
    margin-top: 2rem;
    grid-template-columns: 1fr;
  }
}

.subteam {
  background: linear-gradient(45deg, #134e5e 0%, #71b280 100%);
  border-radius: 10px;
  box-shadow: 0 20px 40px -14px rgb(0 0 0 / 25%);
  padding: 3rem;
}
@media (max-width: 1030px) {
  .subteam {
    padding: 2rem;
  }
}

.subteam h6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ededdd;
  font-weight: 600;
  font-size: 20px;
  margin: 0;
}

.subteam span {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  padding-top: 0.5rem;
  color: #eee9e9;
}

/* ======= Clients section ======= */
.clients-section {
  width: 100%;
  background-color: #262d3c;
  border-bottom: 1px solid #cecac4;
}

.clients-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 4rem 0;
}

.clients-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.clients-wrapper .title {
  color: #cdddac;
  font-size: 35px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 2rem;
  padding: 0 2rem;
}
@media (max-width: 992px) {
  .clients-wrapper .title {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .clients-wrapper .title {
    font-size: 25px;
  }
}

.client-list {
  padding: 0 2rem;
}

.clients-wrapper ul > li {
  color: #cecac4;
}
@media (max-width: 992px) {
  .clients-wrapper ul > li {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .clients-wrapper ul > li {
    font-size: 14px;
  }
}
@media (max-width: 575px) {
  .clients-wrapper ul > li {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .clients-list {
    grid-template-columns: 1fr;
  }
}
