.navbar {
  background-color: var(--blue);
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 20;
  padding: 0 2rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1440px;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-item {
  margin: 1rem;
  font-size: 15px;
  font-weight: 300;
  color: var(--white);
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 0.4s;
}

.nav-item:hover {
  color: var(--green);
}

.nav-item .active {
  color: var(--green);
}

.react-dropdown {
  vertical-align: middle;
  margin-left: 5px;
  font-size: 8px;
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #fff;
    position: absolute;
    top: 70px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: var(--blue);
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    color: var(--green);
    border: none;
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }

  .nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 25px;
  }
}
