.swiper {
  width: 75%;
  max-width: 1440px;
  height: 700px;
  margin: 0 auto;
}

.swiper .swiper-slide {
  height: 700px;
  line-height: 700px;
}
.swiper .swiper-slide img {
  height: 100%;
  width: 100%;
  vertical-align: middle;
  object-fit: contain;
  border-radius: 0.5rem;
}
.swiper-button-next,
.swiper-button-prev {
  background-color: var(--black);
  padding: 1.5rem;
  border-radius: 100%;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 16px !important;
}

@media only screen and (max-width: 992px) {
  .swiper-button-next,
  .swiper-button-prev {
    opacity: 0;
  }
  .swiper {
    width: 85%;
  }
}

@media only screen and (max-width: 767px) {
  .swiper {
    width: 90%;
  }
}

@media only screen and (max-width: 575px) {
  .swiper {
    width: 95%;
  }
}
